@{
    ViewData["Title"] = "Strona główna";
}
<header class="jumbotron jumbotron-fluid bg-primary text-white">
    <div class="container text-center">
        <h1 class="display-4">Trainings Manager</h1>
        <p>Aplikacja do podglądu i zarządzania szkoleniami</p>
    </div>
</header>

<div class="text-center">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">link</a>.</p>


</div>
