@{
    ViewBag.Title = "Dodaj szkolenie";
}}

@model TrainingManagement.Models.Training


<form>
    <label>id</label>
    <input class="form-control" type="number" placeholder="0" asp-for="Id" />
    <label>Nazwa</label>
    <input class="form-control" type="text" placeholder="0" asp-for="Title" />
    <label>Opis</label>
    <input class="form-control" type="text" placeholder="0" asp-for="Description" />
    <label>Dla kogo</label>
</form>