@model IEnumerable<UserTraining>

<h2>Moje szkolenia</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Status</th>
            <th>Data ukończenia</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Training.Title</td>
                <td>@(item.IsCompleted ? "Ukończone" : "W trakcie")</td>
                <td>@(item.CompletionDateTime?.ToShortDateString() ?? "-")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TrainingId" class="btn btn-primary">Szczegóły</a>
                </td>
            </tr>
        }
    </tbody>
</table>
