@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Treningi";
}

<div class="text-center">
    <h2>Dostępne treningi</h2>
    <a asp-action="Create" class="btn btn-primary">Dodaj nowy trening</a>
    <a asp-action="MyTrainings" class="btn btn-secondary">Moje treningi</a>
</div>

<ul>
    @foreach (var training in Model)
    {
        <li>
            @training.Name - @training.Date
            <form asp-action="CompleteTraining" method="post">
                <input type="hidden" name="trainingId" value="@training.Id" />
                <button type="submit">Complete</button>
            </form>
        </li>
    }
</ul>
